# requirements.txt
Flask>=2.3        # framework web
Flask-Cors>=4.0   # CORS para Flask
pandas>=2.2
numpy>=1.27
matplotlib>=3.9
seaborn>=0.13
scikit-learn>=1.5
umap-learn>=0.5
scipy>=1.13
openpyxl>=3.1     # para leer archivos .xlsx en pandas